#html
/html/*
!/html/.keep
!/html/wp-content/
/html/wp-content/*
!/html/wp-content/plugins/
/html/wp-content/plugins/*
!/html/wp-content/plugins/plugin-contact/

#mysql
/php-playground/*
!/php-playground/hola.php
!/php-playground/index.html
